@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@300&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o conteúdo ocupe pelo menos 100% da altura da janela */
    overflow-x: hidden; /* Impede que a página permita rolagem horizontal */
}

main {
    flex: 1; /* Faz com que o main ocupe o espaço restante, empurrando o footer para o final da página */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

/* Título do Header */
.header-title h1 {
    font-size: 24px;
    margin-left: 50px;
}

/* Centralizando os CTAs */
.header-cta-group {
    display: flex;
    gap: 15px;
}

.header-cta-group button, .header-cta-right button {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header-cta-group button:hover {
    text-decoration: underline;
} 

.header-cta-right button:hover {
    background-color: white;
    color: black;
}

/* CTA à direita */
.header-cta-right {
    display: flex;
    margin-right: 50px;
}

/* Ícone de Menu Sanduíche (oculto por padrão) */
.menu-icon {
    display: none; /* Só exibido em telas menores que 768px */
    font-size: 24px;
    cursor: pointer;
}

/* Media Query para telas menores que 768px */
@media (max-width: 768px) {
    /* Oculta os CTAs centrais e o CTA da direita */
    .header-cta-group, .header-cta-right {
        display: none;
    }

    /* Exibe o ícone de menu */
    .menu-icon {
        display: block;
        margin-right: 50px;
    }

    /* Exibe o menu quando o ícone é clicado */
    .header-cta-group.active, .header-cta-right.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Abaixo do header */
        right: 20px;
        background-color: #333;
        padding: 10px;
        gap: 10px;
        border-radius: 5px;
    }

    .header-cta-group.active button, .header-cta-right.active button {
        width: 100%;
        text-align: center;
    }
}




/* Estilo da seção com imagem de fundo */
.background-section {
    position: relative; /* Necessário para o overlay com pseudo-elemento */
    background-image: url('backGround_ciclista.png'); /* Caminho da imagem de fundo */
    background-size: cover; /* Cobre toda a área da seção */
    background-position: center; /* Centraliza a imagem */
    height: 500px; /* Altura da seção */
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

/* Overlay escuro */
.background-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Overlay escuro com 50% de opacidade */
    z-index: 1; /* Coloca o overlay abaixo do conteúdo */
}

/* Estilo do container interno */
.content {
    display: flex;
    justify-content: space-between;
    max-width: 100%; /* Largura máxima do conteúdo */
    position: relative; /* Necessário para ficar acima do overlay */
    z-index: 2; /* Coloca o conteúdo acima do overlay */
}

/* Estilo do texto à esquerda */
.text-content {
    color: white; /* Cor do texto */
    max-width: 50%; /* Largura máxima do texto */
    margin-left: 50px;
}

.text-content h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 22px;
}

.image-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Move a imagem para o fundo da .image-content */
    height: 100%; /* Para garantir que a altura do contentor seja total */
  }

/* Estilo da imagem à direita */
.image-content img {
    max-width: 100%; /* Largura máxima da imagem */
    height: auto;
    max-height: 400px; /* Define a altura máxima da imagem */
    margin-right: 150px;

}

@media (max-width: 1050px) {
    .image-content img {
        margin-right: 100px;
    }
}

@media (max-width: 1000px) {
    .content {
      flex-direction: column; /* Alinha verticalmente os elementos */
    }
  
    .text-content, .image-content {
      width: 100%; /* Cada bloco ocupa toda a largura disponível */
      max-width: 600px; /* Define um limite de largura para não ultrapassar os limites */
      margin-bottom: 20px; /* Espaçamento entre os blocos */
    }
  }


/* Estilo da seção com lista e texto */
.text-section {
    display: flex;
    justify-content: flex-end; /* Alinha os elementos à direita */
    gap: 20px; /* Espaçamento entre os elementos */
    padding: 20px;
}

.image-information {
    max-width: 100%;
}


/* Estilo do texto à direita */
.text-information {
    text-align:left; /* Justifica o texto */
    padding: 50px 70px;
    width: 50%;
}

.inline-list ul {
    display: inline; /* Exibe a lista em linha */
    padding: 0; /* Remove o preenchimento padrão */
    margin: 0; /* Remove as margens padrão */
    list-style: none; /* Remove os marcadores da lista */
}

.inline-list li {
    display: inline; /* Exibe os itens da lista em linha */
    margin-right: 10px; /* Espaçamento entre os itens */
}

/* Estilo da seção com imagem de fundo */
.blocks-section {
    display: flex;
    justify-content: center; /* Centraliza os blocos horizontalmente */
    gap: 20px; /* Espaçamento entre os blocos */
    padding: 20px;
    background-image: url('corrida.png'); /* Caminho para a imagem de fundo */
    background-size: cover; /* Cobre toda a seção com a imagem */
    background-position: center; /* Centraliza a imagem de fundo */
    position: relative; /* Necessário para sobreposição */
    height: 500px; /* Define a altura da seção */
}

/* Estilo do overlay escuro para destacar os blocos */
.blocks-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Adiciona um overlay escuro */
    z-index: 1; /* Coloca o overlay abaixo dos blocos */
    margin: 0;
}

/* Estilo de cada bloco */
.block {
    background-color: transparent; /* Cor de fundo do bloco */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destacar o bloco */
    text-align: center; /* Centraliza o conteúdo do bloco */
    width: 50%; /* Largura fixa para cada bloco */
    position: relative; /* Necessário para posicionamento acima do overlay */
    z-index: 2; /* Garante que os blocos fiquem acima do overlay */
    flex-wrap: wrap;
}

/* Estilo da imagem no bloco */
.block img {
    max-width: 100%; /* Ajusta a imagem ao tamanho do bloco */
}

/* Estilo da descrição */
.block p {
    font-size: 16px;
    margin-bottom: 15px; /* Espaçamento abaixo do texto */
    color: white;
}

/* Estilo do botão CTA */
.block button {
    padding: 10px 20px;
    background-color: transparent; /* Cor de fundo do botão */
    color: white;
    border-color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilo do botão CTA no hover */
.block button:hover {
    background-color: white;
    color: black;
}

/* Estilo do Footer */
footer {
    background-color: #333; /* Fundo escuro */
    color: #fff; /* Texto branco */
    font-size: 14px;
    margin: 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
}

.footer-section {
    min-width: 250px;
    padding: 20px;
    align-items: center;
}

/* Estilo da Seção "Sobre Nós" */
.footer-section.about p {
    text-align: justify;
}

.footer-section.about

/* Estilo da Seção de Contato */
.footer-section.contact ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-section.contact ul li i {
    margin-right: 10px;
}

/* Seção de Direitos Autorais */
.footer-bottom {
    text-align: center;
    border-top: 1px solid #444;
    font-size: 12px;
}


@media (max-width: 1200px) {
    .text-section {
        display: flex;
        flex-direction: column; /* Alinha imagem e texto em coluna */
        justify-content: center;
    }
    .text-information {
        width: 100%;
        padding: 0;
    }

    .text-information p {
        text-align: justify;
        font-size: 13px;
    }

    .text-information ul {
        font-size: 13px;

    }

    .image-information img {
        max-width: 100%; /* Limita a largura da imagem ao tamanho do container */
        height: auto; /* Mantém a proporção da imagem */
    }
}

@media (max-width: 768px) {
    .text-information p {
        text-align: justify;
        font-size: 13px;
        width: 100%;
    }

    .text-information ul {
        font-size: 13px;
        width: auto;
    }
}




@media (max-width: 500px) {
    .blocks-section {
        flex-direction: column; /* Alinha os blocos verticalmente numa coluna */
        height: inherit;
        gap: 0;
      }

    .block {
      width: 100%; /* Tamanho de cada .block abaixo de 500px */
      padding: 0;
    }
  }